# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.ipython

# Environments
.env
.venv
env/
venv/

# Cache
vectorstore_cache.pkl
.pytest_cache/
.mypy_cache/

# Database
db.sqlite3
*.sqlite3

# Logs
*.log

# Django
*.log
local_settings.py

# User files
files/
